<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>u18B00</string>
      <string>u18B01</string>
      <string>u18B02</string>
      <string>u18B03</string>
      <string>u18B04</string>
      <string>u18B05</string>
      <string>u18B06</string>
      <string>u18B07</string>
      <string>u18B08</string>
      <string>u18B09</string>
      <string>u18B0A</string>
      <string>u18B0B</string>
      <string>u18B0C</string>
      <string>u18B0D</string>
      <string>u18B0E</string>
      <string>u18B0F</string>
      <string>u18B10</string>
      <string>u18B11</string>
      <string>u18B12</string>
      <string>u18B13</string>
      <string>u18B14</string>
      <string>u18B15</string>
      <string>u18B16</string>
      <string>u18B17</string>
      <string>u18B18</string>
      <string>u18B19</string>
      <string>u18B1A</string>
      <string>u18B1B</string>
      <string>u18B1C</string>
      <string>u18B1D</string>
      <string>u18B1E</string>
      <string>u18B1F</string>
      <string>u18B20</string>
      <string>u18B21</string>
      <string>u18B22</string>
      <string>u18B23</string>
      <string>u18B24</string>
      <string>u18B25</string>
      <string>u18B26</string>
      <string>u18B27</string>
      <string>u18B28</string>
      <string>u18B29</string>
      <string>u18B2A</string>
      <string>u18B2B</string>
      <string>u18B2C</string>
      <string>u18B2D</string>
      <string>u18B2E</string>
      <string>u18B2F</string>
      <string>u18B30</string>
      <string>u18B31</string>
      <string>u18B32</string>
      <string>u18B33</string>
      <string>u18B34</string>
      <string>u18B35</string>
      <string>u18B36</string>
      <string>u18B37</string>
      <string>u18B38</string>
      <string>u18B39</string>
      <string>u18B3A</string>
      <string>u18B3B</string>
      <string>u18B3C</string>
      <string>u18B3D</string>
      <string>u18B3E</string>
      <string>u18B3F</string>
      <string>u18B40</string>
      <string>u18B41</string>
      <string>u18B42</string>
      <string>u18B43</string>
      <string>u18B44</string>
      <string>u18B45</string>
      <string>u18B46</string>
      <string>u18B47</string>
      <string>u18B48</string>
      <string>u18B49</string>
      <string>u18B4A</string>
      <string>u18B4B</string>
      <string>u18B4C</string>
      <string>u18B4D</string>
      <string>u18B4E</string>
      <string>u18B4F</string>
      <string>u18B50</string>
      <string>u18B51</string>
      <string>u18B52</string>
      <string>u18B53</string>
      <string>u18B54</string>
      <string>u18B55</string>
      <string>u18B56</string>
      <string>u18B57</string>
      <string>u18B58</string>
      <string>u18B59</string>
      <string>u18B5A</string>
      <string>u18B5B</string>
      <string>u18B5C</string>
      <string>u18B5D</string>
      <string>u18B5E</string>
      <string>u18B5F</string>
      <string>u18B60</string>
      <string>u18B61</string>
      <string>u18B62</string>
      <string>u18B63</string>
      <string>u18B64</string>
      <string>u18B65</string>
      <string>u18B66</string>
      <string>u18B67</string>
      <string>u18B68</string>
      <string>u18B69</string>
      <string>u18B6A</string>
      <string>u18B6B</string>
      <string>u18B6C</string>
      <string>u18B6D</string>
      <string>u18B6E</string>
      <string>u18B6F</string>
      <string>u18B70</string>
      <string>u18B71</string>
      <string>u18B72</string>
      <string>u18B73</string>
      <string>u18B74</string>
      <string>u18B75</string>
      <string>u18B76</string>
      <string>u18B77</string>
      <string>u18B78</string>
      <string>u18B79</string>
      <string>u18B7A</string>
      <string>u18B7B</string>
      <string>u18B7C</string>
      <string>u18B7D</string>
      <string>u18B7E</string>
      <string>u18B7F</string>
      <string>u18B80</string>
      <string>u18B81</string>
      <string>u18B82</string>
      <string>u18B83</string>
      <string>u18B84</string>
      <string>u18B85</string>
      <string>u18B86</string>
      <string>u18B87</string>
      <string>u18B88</string>
      <string>u18B89</string>
      <string>u18B8A</string>
      <string>u18B8B</string>
      <string>u18B8C</string>
      <string>u18B8D</string>
      <string>u18B8E</string>
      <string>u18B8F</string>
      <string>u18B90</string>
      <string>u18B91</string>
      <string>u18B92</string>
      <string>u18B93</string>
      <string>u18B94</string>
      <string>u18B95</string>
      <string>u18B96</string>
      <string>u18B97</string>
      <string>u18B98</string>
      <string>u18B99</string>
      <string>u18B9A</string>
      <string>u18B9B</string>
      <string>u18B9C</string>
      <string>u18B9D</string>
      <string>u18B9E</string>
      <string>u18B9F</string>
      <string>u18BA0</string>
      <string>u18BA1</string>
      <string>u18BA2</string>
      <string>u18BA3</string>
      <string>u18BA4</string>
      <string>u18BA5</string>
      <string>u18BA6</string>
      <string>u18BA7</string>
      <string>u18BA8</string>
      <string>u18BA9</string>
      <string>u18BAA</string>
      <string>u18BAB</string>
      <string>u18BAC</string>
      <string>u18BAD</string>
      <string>u18BAE</string>
      <string>u18BAF</string>
      <string>u18BB0</string>
      <string>u18BB1</string>
      <string>u18BB2</string>
      <string>u18BB3</string>
      <string>u18BB4</string>
      <string>u18BB5</string>
      <string>u18BB6</string>
      <string>u18BB7</string>
      <string>u18BB8</string>
      <string>u18BB9</string>
      <string>u18BBA</string>
      <string>u18BBB</string>
      <string>u18BBC</string>
      <string>u18BBD</string>
      <string>u18BBE</string>
      <string>u18BBF</string>
      <string>u18BC0</string>
      <string>u18BC1</string>
      <string>u18BC2</string>
      <string>u18BC3</string>
      <string>u18BC4</string>
      <string>u18BC5</string>
      <string>u18BC6</string>
      <string>u18BC7</string>
      <string>u18BC8</string>
      <string>u18BC9</string>
      <string>u18BCA</string>
      <string>u18BCB</string>
      <string>u18BCC</string>
      <string>u18BCD</string>
      <string>u18BCE</string>
      <string>u18BCF</string>
      <string>u18BD0</string>
      <string>u18BD1</string>
      <string>u18BD2</string>
      <string>u18BD3</string>
      <string>u18BD4</string>
      <string>u18BD5</string>
      <string>u18BD6</string>
      <string>u18BD7</string>
      <string>u18BD8</string>
      <string>u18BD9</string>
      <string>u18BDA</string>
      <string>u18BDB</string>
      <string>u18BDC</string>
      <string>u18BDD</string>
      <string>u18BDE</string>
      <string>u18BDF</string>
      <string>u18BE0</string>
      <string>u18BE1</string>
      <string>u18BE2</string>
      <string>u18BE3</string>
      <string>u18BE4</string>
      <string>u18BE5</string>
      <string>u18BE6</string>
      <string>u18BE7</string>
      <string>u18BE8</string>
      <string>u18BE9</string>
      <string>u18BEA</string>
      <string>u18BEB</string>
      <string>u18BEC</string>
      <string>u18BED</string>
      <string>u18BEE</string>
      <string>u18BEF</string>
      <string>u18BF0</string>
      <string>u18BF1</string>
      <string>u18BF2</string>
      <string>u18BF3</string>
      <string>u18BF4</string>
      <string>u18BF5</string>
      <string>u18BF6</string>
      <string>u18BF7</string>
      <string>u18BF8</string>
      <string>u18BF9</string>
      <string>u18BFA</string>
      <string>u18BFB</string>
      <string>u18BFC</string>
      <string>u18BFD</string>
      <string>u18BFE</string>
      <string>u18BFF</string>
      <string>u18C00</string>
      <string>u18C01</string>
      <string>u18C02</string>
      <string>u18C03</string>
      <string>u18C04</string>
      <string>u18C05</string>
      <string>u18C06</string>
      <string>u18C07</string>
      <string>u18C08</string>
      <string>u18C09</string>
      <string>u18C0A</string>
      <string>u18C0B</string>
      <string>u18C0C</string>
      <string>u18C0D</string>
      <string>u18C0E</string>
      <string>u18C0F</string>
      <string>u18C10</string>
      <string>u18C11</string>
      <string>u18C12</string>
      <string>u18C13</string>
      <string>u18C14</string>
      <string>u18C15</string>
      <string>u18C16</string>
      <string>u18C17</string>
      <string>u18C18</string>
      <string>u18C19</string>
      <string>u18C1A</string>
      <string>u18C1B</string>
      <string>u18C1C</string>
      <string>u18C1D</string>
      <string>u18C1E</string>
      <string>u18C1F</string>
      <string>u18C20</string>
      <string>u18C21</string>
      <string>u18C22</string>
      <string>u18C23</string>
      <string>u18C24</string>
      <string>u18C25</string>
      <string>u18C26</string>
      <string>u18C27</string>
      <string>u18C28</string>
      <string>u18C29</string>
      <string>u18C2A</string>
      <string>u18C2B</string>
      <string>u18C2C</string>
      <string>u18C2D</string>
      <string>u18C2E</string>
      <string>u18C2F</string>
      <string>u18C30</string>
      <string>u18C31</string>
      <string>u18C32</string>
      <string>u18C33</string>
      <string>u18C34</string>
      <string>u18C35</string>
      <string>u18C36</string>
      <string>u18C37</string>
      <string>u18C38</string>
      <string>u18C39</string>
      <string>u18C3A</string>
      <string>u18C3B</string>
      <string>u18C3C</string>
      <string>u18C3D</string>
      <string>u18C3E</string>
      <string>u18C3F</string>
      <string>u18C40</string>
      <string>u18C41</string>
      <string>u18C42</string>
      <string>u18C43</string>
      <string>u18C44</string>
      <string>u18C45</string>
      <string>u18C46</string>
      <string>u18C47</string>
      <string>u18C48</string>
      <string>u18C49</string>
      <string>u18C4A</string>
      <string>u18C4B</string>
      <string>u18C4C</string>
      <string>u18C4D</string>
      <string>u18C4E</string>
      <string>u18C4F</string>
      <string>u18C50</string>
      <string>u18C51</string>
      <string>u18C52</string>
      <string>u18C53</string>
      <string>u18C54</string>
      <string>u18C55</string>
      <string>u18C56</string>
      <string>u18C57</string>
      <string>u18C58</string>
      <string>u18C59</string>
      <string>u18C5A</string>
      <string>u18C5B</string>
      <string>u18C5C</string>
      <string>u18C5D</string>
      <string>u18C5E</string>
      <string>u18C5F</string>
      <string>u18C60</string>
      <string>u18C61</string>
      <string>u18C62</string>
      <string>u18C63</string>
      <string>u18C64</string>
      <string>u18C65</string>
      <string>u18C66</string>
      <string>u18C67</string>
      <string>u18C68</string>
      <string>u18C69</string>
      <string>u18C6A</string>
      <string>u18C6B</string>
      <string>u18C6C</string>
      <string>u18C6D</string>
      <string>u18C6E</string>
      <string>u18C6F</string>
      <string>u18C70</string>
      <string>u18C71</string>
      <string>u18C72</string>
      <string>u18C73</string>
      <string>u18C74</string>
      <string>u18C75</string>
      <string>u18C76</string>
      <string>u18C77</string>
      <string>u18C78</string>
      <string>u18C79</string>
      <string>u18C7A</string>
      <string>u18C7B</string>
      <string>u18C7C</string>
      <string>u18C7D</string>
      <string>u18C7E</string>
      <string>u18C7F</string>
      <string>u18C80</string>
      <string>u18C81</string>
      <string>u18C82</string>
      <string>u18C83</string>
      <string>u18C84</string>
      <string>u18C85</string>
      <string>u18C86</string>
      <string>u18C87</string>
      <string>u18C88</string>
      <string>u18C89</string>
      <string>u18C8A</string>
      <string>u18C8B</string>
      <string>u18C8C</string>
      <string>u18C8D</string>
      <string>u18C8E</string>
      <string>u18C8F</string>
      <string>u18C90</string>
      <string>u18C91</string>
      <string>u18C92</string>
      <string>u18C93</string>
      <string>u18C94</string>
      <string>u18C95</string>
      <string>u18C96</string>
      <string>u18C97</string>
      <string>u18C98</string>
      <string>u18C99</string>
      <string>u18C9A</string>
      <string>u18C9B</string>
      <string>u18C9C</string>
      <string>u18C9D</string>
      <string>u18C9E</string>
      <string>u18C9F</string>
      <string>u18CA0</string>
      <string>u18CA1</string>
      <string>u18CA2</string>
      <string>u18CA3</string>
      <string>u18CA4</string>
      <string>u18CA5</string>
      <string>u18CA6</string>
      <string>u18CA7</string>
      <string>u18CA8</string>
      <string>u18CA9</string>
      <string>u18CAA</string>
      <string>u18CAB</string>
      <string>u18CAC</string>
      <string>u18CAD</string>
      <string>u18CAE</string>
      <string>u18CAF</string>
      <string>u18CB0</string>
      <string>u18CB1</string>
      <string>u18CB2</string>
      <string>u18CB3</string>
      <string>u18CB4</string>
      <string>u18CB5</string>
      <string>u18CB6</string>
      <string>u18CB7</string>
      <string>u18CB8</string>
      <string>u18CB9</string>
      <string>u18CBA</string>
      <string>u18CBB</string>
      <string>u18CBC</string>
      <string>u18CBD</string>
      <string>u18CBE</string>
      <string>u18CBF</string>
      <string>u18CC0</string>
      <string>u18CC1</string>
      <string>u18CC2</string>
      <string>u18CC3</string>
      <string>u18CC4</string>
      <string>u18CC5</string>
      <string>u18CC6</string>
      <string>u18CC7</string>
      <string>u18CC8</string>
      <string>u18CC9</string>
      <string>u18CCA</string>
      <string>u18CCB</string>
      <string>u18CCC</string>
      <string>u18CCD</string>
      <string>u18CCE</string>
      <string>u18CCF</string>
      <string>u18CD0</string>
      <string>u18CD1</string>
      <string>u18CD2</string>
      <string>u18CD3</string>
      <string>u18CD4</string>
      <string>u18CD5</string>
      <string>u18CD6</string>
      <string>u18CD7</string>
      <string>u18CD8</string>
      <string>u18CD9</string>
      <string>u18CDA</string>
      <string>u18CFF</string>
      <string>u18C37_u18BDF_u18C64</string>
      <string>u18C5B_u18CD1</string>
      <string>u16FE4</string>
      <string>kssf</string>
      <string>kss.blank</string>
      <string>uni8C37</string>
      <string>uni6B4C</string>
      <string>uni5951</string>
      <string>uni4E39</string>
      <string>uni5C0F</string>
      <string>uni5B57</string>
      <string>uni4EFF</string>
      <string>uni5B8B</string>
      <string>uni4F53</string>
      <string>uni5E38</string>
      <string>uni89C4</string>
      <string>uni6A2A</string>
      <string>uni76F4</string>
      <string>uni5367</string>
      <string>uni6392</string>
      <string>uni4E2D</string>
      <string>uni56FD</string>
      <string>uni667A</string>
      <string>uni9020</string>
      <string>uni6167</string>
      <string>uni53CA</string>
      <string>uni5168</string>
      <string>uni7403</string>
      <string>uni3000</string>
      <string>uniFF0C</string>
      <string>uni3002</string>
      <string>uniFF08</string>
      <string>uniFF09</string>
      <string>uni300A</string>
      <string>uni300B</string>
      <string>uni201C</string>
      <string>uni201D</string>
      <string>uniFE10</string>
      <string>uniFE12</string>
      <string>uniFE35</string>
      <string>uniFE36</string>
      <string>uniFE3D</string>
      <string>uniFE3E</string>
      <string>uniFE41</string>
      <string>uniFE42</string>
    </array>
  </dict>
</plist>
